body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}
a {
    color: #000;
}
a:hover {
    color: #F5D118 !important;
}
.active {
    color: #F5D118 !important;    
}
.main-colorText {
    color: #F5D118 !important;
}
.special_href {
    text-decoration: underline;
    color: #F5D118 !important;
}
.special_href:hover {
    text-decoration: none;
    color: #000 !important;
}
h3 {
    font-weight: 900 !important;
}
.onMask {
    z-index: 5;
}
.hideMask {
    background: rgb(0,0,0, 0) !important; 
}
.mask_project {
    background: rgb(0,0,0, 0) !important; 
    transition: .5s all;
    font-size: 0;
    cursor: zoom-in !important;
}
.mask_project:hover {
    background: rgb(0,0,0, .5) !important; 
    font-size: 2rem;
    color: #fff !important;
}
.bg-primary {
    background-color: #F5D118 !important;
}
.btn-primary {
    background-color: #F5D118 !important;
    border-radius: 0 !important;
}
.btn-primary:hover {
    background-color: #000 !important;
    color: #FFF !important;
}
.btn-secondary {
    background-color: #FFF !important;
    color: #000 !important;
    border-radius: 0 !important;
}
.btn-secondary:hover {
    background-color: #000 !important;
    color: #FFF !important;
}
.font-small {
    font-size: .8rem;
}
.separate_line {
    background-color: #F5D118;
    height: 2px;
    margin: 0 auto;
    width: 4%;
    margin-bottom: 80px;
}
.separate_line-left {
    background-color: #F5D118;
    height: 2px;
    width: 8%;
    margin-bottom: 40px;
}
#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    top: 0;
}
.navbar-mini {
    max-height: 50px;
    font-size: 0.85rem;
    background-color: #333333;
}
.navbar-mini .fas {
    color: #F5D118;
}
.navbar-mini a {
    color: #888;
}
.nav-item {
    background-color: #fff;
}
.nav-link {
    background-color: #fff;
    z-index: 9;
}
.menu-separator {
    border-left: 1px solid #888;
    margin: 1.5% 8px;
}
.text-muted {
    color: #888;
}
.font-regular {
    font-size: 1.2rem;
}
.search-font {
    font-size: 1.5rem;
}
.navbar {
    max-height: 102px;
    transition: .75s all;
}
.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
.slider {
    position: relative;
    text-transform: uppercase;
}
.slider_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 27vh 0;
    text-align: center;
}
.slider_title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 0 10px #000;
    z-index: 5;
}
.slider_subtitle {
    color: #FFF;
    font-size: 2.8rem;
    text-shadow: 0 0 10px #000;
    z-index: 5;
}
.button_slider {
    display: inline;
    z-index: 5;
}
.mask_photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0, 0.4);
    z-index: 2;
}
.carousel-control-next {
    margin-right: -50px;
}
.carousel-control-prev {
    margin-left: -50px;
}
.carousel-control-next, .carousel-control-prev {
    top: calc(50% - 25px);
    width: 0px;
    height: 50px;
    background: #fff;
    color: #000;
    opacity: 1;
    font-size: 1rem;
    transition: 1s all;
    overflow: hidden;
    z-index: 6;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    background: #C5C6C7;
    font-size: 1.6rem;
}
.carousel-control-next:hover, .carousel-control-prev:hover, .carousel-control-next:focus, .carousel-control-prev:focus {
    color: #000;
}
.carousel-control-show {
    width: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.bar_underSlider {
    position: relative;
    padding: 50px 100px;
    color: #FFF;
    font-weight: 900;
    font-size: 1.6rem;
}
.padding_section {
    position: relative;
    padding: 80px 0;
}
.padding_section_alt {
    position: relative;
    padding: 120px 0;
}
.para_icon {
    width: 80%;
    font-size: .85rem;
}
.icon {
    color: #F5D118;
    width: 28px;
    margin-left: -38px;
    margin-right: 10px;
    text-align: right;
}
.muted_section {
    background-color: #F8F8F8;
}
.bg_flex {
    transition: .5s all;
}
.bg_flex:hover {
    background-color: #F5D118;
    color: #fff;
}
.icon_flex {
    width: 20%;
    text-align: center;
}
.icon_size {
    font-size: 2rem;
    color: #F5D118;
    transition: .5s all;
}
.icon_colorHover {
    color: #fff !important;
}
.title_flex {
    width: 80%;
}
.progres_bar {
    margin: 1.5rem 0;
}
.md-progress {
    height: 10px;
}
.md-progress .progress-bar {
    background-color: #F5D118;
    height: 10px;
}
.bg_photo_section {
    position: absolute;
    right: 0;
    top: 0;
    width: 45vw;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.photo_project {
    position: relative;
    height: 300px;
    line-height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.content_project {
    margin-top: 30px;
    text-align: center;
}
.counter_icon {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.counter_number {
    font-size: 3.2rem;
    font-weight: 900;
}
.photo_recent {
    position: relative;
    height: 300px;
    line-height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.content_recent {
    margin-top: 30px;
}
.date_post {
    font-style: italic;
}
.footer {
    background-color: #151515;
    padding-left: 150px;
}
.footer_map {
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100%;
}
.footer_href {
    color: #F5D118 !important;
    line-height: 40px;
}
.footer_href:hover {
    text-decoration: none;
    color: #FFF !important;
}
.footer_foot {
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #111111;
    z-index: 5;
}
.footer_icon {
    color: #888 !important;
}
.buttons_mobile {
    overflow-x: hidden;
}
.phone_mobile {
    text-align: center;
    color: #6c757d;
    font-size: 4rem;
    background-color: #F8F8F8;
    padding: 50px;
}
.email_mobile {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    background-color: #F5D118;
    padding: 50px;
}
.slider_image-subpage {
    padding: 10vh 0;
}
.bar_underSlider-supage {
    padding: 30px 100px;
}
.bg_photo_services {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.padding_services {
    padding-left: 200px;
    padding-right: 200px;
}
@media (max-width: 1199.98px) {
    .footer {
        padding-left: 30px;
    }
}
@media (max-width: 991.98px) {
    .carousel-control-next, .carousel-control-prev {
        width: 50px ;
    }
    .navbar-collapse {
        background-color: #FFF;
    }
    .slider {
        margin-top: 0;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 0;
        top: calc(100% - 50px);
        margin: 0;
    }
    .padding_services {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 767.98px) {
    .slider_title {
        font-size: 3rem;
    }
    .slider_subtitle {
        font-size: 2.1rem;
    }
    .btn-primary, .btn-secondary {
        padding: 12px 30px !important;
    }
    .separate_line {
        margin-bottom: 40px;
    }
    .footer_map {
        position: relative;
        width: calc(100% + 30px);
        margin-left: -30px !important;
        margin-right: 0 !important;
        height: 250px;
        margin-bottom: 50px;
    }
    .padding_services {
        padding-left: 50px;
        padding-right: 50px;
    }
    footer {
        padding-top: 0 !important;
    }
    .footer_foot {
        padding: 20px;
    }
    .bg_photo_services {
        height: 300px; 
        margin-bottom: 40px;
    }
}
@media (max-width: 575.98px) {
    h1 {
        font-size: 2rem;
    }
    .slider_title {
        font-size: 2rem;
    }
    .slider_subtitle {
        font-size: 1.4rem;
    }
    .bar_underSlider {
        padding: 50px 20px;
    }
    .padding_services {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.md-form input[type="date"]:focus:not([readonly]), .md-form input[type="datetime-local"]:focus:not([readonly]), .md-form input[type="email"]:focus:not([readonly]), .md-form input[type="number"]:focus:not([readonly]), .md-form input[type="password"]:focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form input[type="search"]:focus:not([readonly]), .md-form input[type="tel"]:focus:not([readonly]), .md-form input[type="text"]:focus:not([readonly]), .md-form input[type="time"]:focus:not([readonly]), .md-form input[type="url"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #F5D118;
    border-bottom: 1px solid #F5D118;
}
.md-form input[type="date"]:focus:not([readonly]) + label, .md-form input[type="datetime-local"]:focus:not([readonly]) + label, .md-form input[type="email"]:focus:not([readonly]) + label, .md-form input[type="number"]:focus:not([readonly]) + label, .md-form input[type="password"]:focus:not([readonly]) + label, .md-form input[type="search-md"]:focus:not([readonly]) + label, .md-form input[type="search"]:focus:not([readonly]) + label, .md-form input[type="tel"]:focus:not([readonly]) + label, .md-form input[type="text"]:focus:not([readonly]) + label, .md-form input[type="time"]:focus:not([readonly]) + label, .md-form input[type="url"]:focus:not([readonly]) + label, .md-form textarea.md-textarea:focus:not([readonly]) + label, .modal-dialog.modal-notify.modal-primary .btn.btn-outline-primary .fab, .modal-dialog.modal-notify.modal-primary .btn.btn-outline-primary .far, .modal-dialog.modal-notify.modal-primary .btn.btn-outline-primary .fas {
    color: #F5D118;
}
.form-check-input[type="checkbox"]:checked + label::before, label.btn input[type="checkbox"]:checked + label::before {
    border-right: 2px solid #F5D118;
    border-bottom: 2px solid #F5D118;

}